.navbar  {
    position: fixed;
    top: 0;
   z-index: 1000;
    justify-content: space-around;
color: black;
padding: 15px;
text-decoration: none;
width: 100%;
}
#search{
    display: end;
}
#home{
    background-image: url(bible7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.news-format{
     column-count: 1;
    column-gap: 30px;
    text-align: justify;
    text-indent: 50px;
    margin: 10px;
}
.parallax-bg {
            height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
             filter: grayscale(80%);
          
        }
        .img-1 { background-image: url('./bible7.jpg'); }
        .img-2 { background-image: url('./bible16.jpg'); }
        .img-3 { background-image: url('./bible17.jpg'); }



         .caption {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            transform: translateY(-50%);
           
        }
        .border-text {
            background-color: #111;
            color: #fff;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
        }