.navbar  {
    display: flex;
    justify-content: space-around;
color: black;
padding: 15px;
text-decoration: none;

}
#search{
    display: end;
}
#home{
    background-image: url(bible7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.news-format{
     column-count: 1;
    column-gap: 30px;
    text-align: justify;
    text-indent: 50px;
    margin: 10px;
}